.box {
    width: var(--container-width);
    height: var(--container-height);
    background-color: rgba(0, 0, 0, 0.5);
    padding: 10px;

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    overflow: hidden;
    backdrop-filter: blur(10px);
    border-radius: 10px;
}

.header {
    text-align: center;
    color: white;
}

h1 {
    font-family: "Kaushan Script";
    font-size: 4.7rem;
    text-shadow: 4px 1px 7px rgb(0, 0, 0);
    margin: 0;
}
h2 {
    font-family: "Itim";
    text-align: center;
    font-size: 3rem;
    padding: 0px 0;
    text-shadow: 3px 3px 10px black;
    margin: 0;
}

.buttons {
    display: flex;
    align-items: center;
    justify-content: center;

    overflow-y: scroll;

    /* hide scrollbar */
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}

/* hide scrollbar */
.buttons:-webkit-scrollbar {
    display: none;
}

.buttons a {
    display: inline-block;
    width: 30%;
    height: 80px;

    text-align: center;
    line-height: 80px;

    font-family: "Calibri", sans-serif;
    font-weight: bolder;
    font-size: 1.56rem;

    margin: 30px 10px;

    text-decoration: none;
    color: white;
    transition: .2s;

    background-color:    #4c4c4c;
    border-radius: 20px;
    box-shadow:    2px -2px #5e5e5e;

}
.buttons a:hover {
    text-decoration: underline;
    background-color: #323232;
}